@use "variables" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  color: $text-color;
  background: $background-color;

  @include desktop {
    padding-top: 79px;
  }

  @include mobile {
    padding-top: 63px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

ul,
ol {
  list-style: none;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: $text-color;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 26px;
}

/* ============================================================
   ASSINATURA
   ============================================================ */
.assinatura {
  float: right;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 615px;

  @include mobile {
    float: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  h2 {
    float: right;
    margin: 0;

    a {
      background: rgba(0, 0, 0, 0) var(--bg-image) no-repeat left center;
      background-size: auto 100%;
      float: right;
      overflow: hidden;
      text-indent: -9999px;
      transition: width 300ms ease;

      height: 18px;
      width: 26px;

      min-width: 24px;
      min-height: 16px;

      &:hover {
        width: 80px;
      }
    }
  }
}
