@use '../base/variables' as *;
@use '../base/mixins' as *;

.faq-session {
    padding: 5rem 0; // 80px
    background: $background-color;

    @include mobile {
        padding: 3rem 2.5rem; // 48px 40px
    }

    &__header {
        h2 {
            font-family: $font-primary;
            font-size: 2rem; // 32px
            font-weight: 600;
            color: $text-color-link-menu;
            line-height: 1.2;
            padding-top: 2rem; // 32px

            @include mobile {
                font-size: 1.75rem; // 28px
            }
        }
    }

    .faq__wrapper {
        display: flex;
        flex-direction: column;
    }

    .faq__item {
        border-bottom: 0.0625rem solid #DDDDDD; // 1px

        .titulo {
            font-family: $font-primary;
            font-size: 1.25rem; // 20px
            font-weight: 600;
            letter-spacing: -0.04em;
            color: $text-color-link-menu;

            @include mobile {
                font-size: 1.125rem; // 18px
            }
        }

        .seta {
            transition: transform 0.3s ease;
            transform: rotate(180deg);
            display: flex;
            align-items: center;
        }

        &.active {
            .seta {
                transform: rotate(0deg);
            }

            .resposta {
                max-height: 1000px;
                transition: max-height 0.4s ease-in-out;
            }
        }

        .resposta {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);

            &__inner {
                padding-bottom: 2rem; // 32px

                p, strong {
                    font-family: $font-primary;
                    font-size: 1rem; // 16px
                    line-height: 1.5;
                    color: $text-color;
                }
            }
        }
    }

    .faq__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 2rem 0; // 32px

        @include mobile {
            gap: 1rem; // 16px
        }
    }
}
