@use "../base/variables" as *;
@use "../base/mixins" as *;

.btn {
  display: inline-flex;
  flex-direction: row; // Garante que o ícone fique ao lado do texto
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-height: 49px;

  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px 0;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

  background-color: $primary-color;
  color: #132b1b;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $secondary-color;
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: -1;
  }

  // Ajuste padrão para ícones dentro do botão
  svg,
  img {
    flex-shrink: 0;
    transition: all 0.4s ease;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    transform: none;
    border: 1px solid $primary-color;

    &::before {
      width: 100%; // Efeito de preenchimento deslizante
    }

    svg,
    img {
      // Apenas inversão de cor para branco, sem movimentação
      filter: brightness(0) invert(1);
      transform: none;
    }
  }

  &:active {
    transform: scale(0.98); // Efeito de clique simples e clean
  }

  // Variação outline (caso precise depois)
  &--outline {
    background-color: transparent;
    border: 2px solid $secondary-color; // Borda um pouco mais grossa passa mais confiança
    color: $secondary-color;
    position: relative;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $secondary-color;
      color: #fff;
      box-shadow: 0 0 15px rgba($secondary-color, 0.3); // Brilho externo sutil da cor do botão

      svg {
        filter: brightness(0) invert(1); // Garante que o ícone fique branco se for preto
      }
    }
  }

  &-area-cliente {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
}
