@use "../base/variables" as *;
@use "../base/mixins" as *;

.share-links {
  padding: $spacing-xl 0 $spacing-xl; // Utilizando espaçamento aproximado a 35px-40px

  &__title {
    font-family: $font-primary;
    font-size: $font-size-base; // Equivale a 16px
    font-weight: 400;
    line-height: 1.8; // Aproximado para 29px
    text-align: center;
    color: $text-color-light; // Utilizada para substituir o #8d89a5
    margin-bottom: $spacing-lg; // Equivale aproximadamente a 24-25px
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-xl; // Equivale a 40px

    @media (max-width: 768px) {
      display: grid;
      // Trocamos 1fr por max-content para a coluna não "esticar"
      grid-template-columns: repeat(6, max-content);
      // Centraliza a grid inteira na tela
      justify-content: center;
      // Ajuste o gap aqui para controlar a proximidade real
      gap: $spacing-lg $spacing-xl;
      // Margem lateral para garantir que não cole nas bordas do celular
      padding: 0 $spacing-md;
    }

    a {
      display: flex;
      align-items: center;
      gap: $spacing-sm; // Equivale a 8px
      color: $text-color-light; // Utilizada para substituir o #8d89a5
      text-decoration: none;
      transition: color $transition-fast;

      @media (max-width: 768px) {
        // Os 3 primeiros itens ocupam 2 frações cada (total 6)
        &:nth-child(-n + 3) {
          grid-column: span 2;
        }

        // Os 2 últimos ocupam 3 frações cada (total 6)
        &:nth-child(n + 4) {
          grid-column: span 3;
        }
        justify-content: center;
      }
      span {
        @media (max-width: 768px) {
          display: none; // Esconde o "Compartilhe:" no mobile
        }
      }

      svg {
        path {
          fill: $primary-color;
        }
      }

      // Efeito de hover moderno
      &:hover,
      &:focus {
        color: $primary-color;

        // Caso deseje que o SVG mude de cor no hover (recomendado trocar o fill do SVG pra 'currentColor' no PHP)
        svg path {
          fill: $secondary-color;
          transition: fill $transition-fast;
        }
      }
    }
  }
}
