@use "../base/variables" as *;
@use "../base/mixins" as *;

.titulo-page {
  padding: 31px 0;
  background: #f5f5f5;

  h1 {
    font-size: 40px;
    font-weight: 600;
    color: $secondary-color;

    @include mobile {
      line-height: 44px;
    }
  }
}
